@inherits LayoutComponentBase
@inject SessionState SessionState
<link href="css/footer.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
<link href="css/carouselBanner.css" rel="stylesheet" />

<CascadingValue Value="SessionState" IsFixed="false">

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>
	<main>
		<header class="app-header">
			<div id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images//carousel/aliencarousel1.png" class="d-block w-100" alt="Slide 1">
					</div>
					<div class="carousel-item">
						<img src="images/carousel/aliencarousel2.png" class="d-block w-100" alt="Slide 2">
					</div>
					<div class="carousel-item">
						<img src="images/carousel/aliencarousel4.png" class="d-block w-100" alt="Slide 3">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#headerCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#headerCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</header>

		<article class="content">
			@Body
		</article>
		<footer class="app-footer">
			<div class="footer-content">

				<p>© 2025 A Galatic Alien Administration company. All rights reserved.</p>

				<p>
					<a href="terms-of-service">
						Terms of Service
					</a> |
					<a href="privacy">
						Privacy
					</a>
					Version 1.0.0
				</p>

			</div>
		</footer>

	</main>
</div>

</CascadingValue>
