@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark bg-dark">
	<div class="container-fluid">
		@if (SessionState?.LoggedInUser == null)
		{
			<a class="navbar-brand text-white" href="dashboard">Alien Admin System</a>
		}
		else
		{
			<a class="navbar-brand text-white" href="">@SessionState?.LoggedInUser?.Username</a>
		}
		
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" >
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="registeraliens">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register Aliens
			</NavLink>
		</div>

		<!-- If there is no session display Login -->
		@if (SessionState?.LoggedInUser == null)
		{
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="login">
						<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
					</NavLink>
				</div>
		}
		else
		{
				<div class="nav-item px-3">
					<a class="nav-link" href="#" @onclick="Logout">
						<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Logout
					</a>
				</div>
		}


		<div class="nav-item px-3">
			<NavLink class="nav-link" href="signup">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sign Up
			</NavLink>
		</div>

		<!-- Display Booking if logged in -->
		@if (SessionState?.LoggedInUser != null)
		{
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="booking">
						<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule Booking
					</NavLink>
				</div>
		}

		<!-- Facilities Drop Down -->
		<div class="nav-item dropdown px-3">
			<a class="nav-link dropdown-toggle" href="#" id="facilitiesDropdown" role="button"
			   data-bs-toggle="dropdown" aria-expanded="false">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Facilities
			</a>
			<ul class="dropdown-menu" aria-labelledby="facilitiesDropdown">
				<li>
					<NavLink class="dropdown-item" href="researchlab">
						Research Labs
					</NavLink>
				</li>
				<li>
					<NavLink class="dropdown-item" href="embassy">
						Embassies
					</NavLink>
				</li>
				<li>
					<NavLink class="dropdown-item" href="quarantinezone">
						Quarantine Zones
					</NavLink>
				</li>
			</ul>
		</div>

		<!-- If there is no session display Login -->
		@if (SessionState?.LoggedInUser?.IsAdmin == true)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="facilitystatusmanagement">
					<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Facility Management
				</NavLink>
			</div>
		}

		<!-- Diplay Notification Panel -->
		<NotificationPanel />
	</nav>
</div>


@code {
	[CascadingParameter]
	internal SessionState? SessionState { get; set; }

	private void Logout()
	{
		if (SessionState != null)
			SessionState.LoggedInUser = null;
		Navigation.NavigateTo("/login");
	}
}