@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">AlienAdminSystem</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="registeraliens">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register Aliens
			</NavLink>
		</div>

		@if (SessionState?.LoggedInUser == null)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="login">
					<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
				</NavLink>
			</div>
		}
		else
		{
			<div class="nav-item px-3">
				<a class="nav-link" href="#" @onclick="Logout">
					<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Logout
				</a>
			</div>
		}

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="researchlab">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Research Labs
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="embassy">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Embassies
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="quarantinezone">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Quarantine Zones
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="booking">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule Booking
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="signup">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sign Up
			</NavLink>
		</div>
	</nav>
</div>

@code {
	[CascadingParameter]
	internal SessionState? SessionState { get; set; }

	private async Task Logout()
	{
		if(SessionState != null)
			SessionState.LoggedInUser = null;
		Navigation.NavigateTo("/login");
	}

}