.app-footer {
    height: 120px;
    background-color: #4F1A45 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-content{
    max-width:800px;
}