html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
    padding: 1rem;
}
