@page "/bookingsuccess"

<div class="container mt-4" style="max-width: 900px;">
	<div class="card shadow-sm">
		<div class="card-header bg-primary text-white">
			<h4 class="mb-0 text-center text-white">Trip Booked Succesfully</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-5">
					<img src="images/bookingsuccess.png" class="img-fluid rounded-start" alt="Booked succesfully to Earth" />
				</div>
				<div class="col-md-7 d-flex align-items-start">
					<p class="card-text ps-3 text-dark">
						<span class="text-success">Congratulations!</span> Your booking for an intergalactic journey to Earth has been successfully confirmed.
						Your reservation at the designated facility is now secured, and further details have been sent to your registered email address.
						Thank you for choosing the Alien Administration System for your travel needs. We look forward to welcoming you to Earth
						and ensuring that your visit is both comfortable and extraordinary. Safe travels and enjoy your cosmic adventure!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	}
