@page "/dashboard"

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Welcome to the Alien Admin System</h4>
			<p>Welcome @SessionState?.LoggedInUser?.Username! This is your dashboard.</p>
		</div>
	</div>
</div>

@code {
	// Cascading parameters are used to pass data down the component tree
	[CascadingParameter]
	internal SessionState? SessionState { get; set; }

}
