@page "/registeraliens"

@using System.ComponentModel.DataAnnotations;
@using System.Collections.Generic;
@using Microsoft.Data.SqlClient;
@using Microsoft.Extensions.Configuration;
@using System.Threading.Tasks;
@inject AlienDatabaseService AlienDatabaseService;

<h1>Alien Registration Page</h1>
<form>
	<div class="row mb-3">
		<div class="col-md-6">
			<div>
				<label class="form-label">Enter first name: </label>
				<input type="text" class="form-control" @bind="firstName" />
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<label class="form-label">Enter last name: </label>
				<input type="text" class="form-control" @bind="lastName" />
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label class="form-label">Enter age: </label>
			<input type="number" class="form-control" @bind="age" />
		</div>
		<div class="col-md-6">
			<label for="visitMonths" class="form-label">Additional months: </label>
			<InputNumber id="visitMonths" class="form-control" @bind-Value="visitDurationMonths" Min="0" Max="12"></InputNumber>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<div>
				<label class="form-label">Enter species: </label>
				<input type="text" class="form-control" @bind="species" />
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<label class="form-label">Enter planet: </label>
				<input type="text" class="form-control" @bind="planet" />
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="aliengroup" class="form-label">Select Alien Group: </label>
			<select class="form-select" id="aliengroup" @bind="selectedGroupID">
				<option value="">Select the option</option>
				@foreach (var group in alienGroups)
				{
					<option value="@group.alienGroupID">@group.alienGroupName</option>
				}

			</select>
		</div>
		<div class="col-md-6">
			<label for="atmosphereType" class="form-label">Select Atmosphere: </label>
			<InputSelect id="atmosphereType" class="form-select" @bind-Value="selectedAtmosphere">
				<option value="">-- Select an Atmosphere --</option>
				<option value="1">Oxygen-rich	</option>
				<option value="2">Nitrogen-rich</option>
				<option value="3">Carbon Dioxide-rich</option>
			</InputSelect>
		</div>
	</div>
	<div class="mb-3">
		<label for="specialRequirements" class="form-label">Special Requirements: </label>
		<textarea id="specialRequirements" class="form-control" rows="4" @bind="specialRequirements"></textarea>
	</div>
	<div>
		<label class="form-label">Enter email: </label>
		<input type="email" class="form-control" @bind="email" />
	</div>
</form>

<button @onclick="RegisterMyAlien">Register Alien</button>

@if (registeredAlien != null)
{
	<p>
		Alien registered successfully!
		<br />
		Alien name: @registeredAlien.FirstName;
		<br />
		Alien age: @registeredAlien.Age;
	</p>
}

@code {

	private string firstName = String.Empty;
	private string lastName = String.Empty;
	private int age = 0;
	private string species = String.Empty;
	private string planet = String.Empty;
	private string email = String.Empty;
	private int selectedGroupID = 0;
	private int selectedAtmosphere = 0;
	private string specialRequirements = String.Empty;
	private int visitDurationMonths = 0;

	List<AlienGroup> alienGroups = AlienGroupsRepository.ListAllGroups();



	Alien registeredAlien;

	private async Task RegisterMyAlien()
	{
		registeredAlien = await AlienDatabaseService.RegisterTheAlien(firstName, lastName, planet, species, email, age, selectedGroupID, selectedAtmosphere, specialRequirements, visitDurationMonths);

	}
}