@page "/registeralien"

@using System.ComponentModel.DataAnnotations;
@using System.Collections.Generic;
@using Microsoft.Data.SqlClient;
@using Microsoft.Extensions.Configuration;
@using System.Threading.Tasks;
@inject AlienDatabaseService AlienDatabaseService;

<h3>Alien Registration Page</h3>

<div>
	<label>Enter Alien name: </label>
	<input @bind="AlienDatabaseService.AlienName" />
</div>

<div>
	<label>Enter Alien age: </label>
	<input type="number" @bind="AlienDatabaseService.AlienAge" />
</div>

<div>
	<label>Enter Alien planet: </label>
	<input @bind="AlienDatabaseService.AlienPlanet" />
</div>

<button @onclick="RegisterMyAlien">Register Alien</button>

@if (registeredAlien != null)
{
	<p>
		Alien registered successfully!
		<br />
		Alien name: @AlienDatabaseService.AlienName
		<br />
		Alien age: @AlienDatabaseService.AlienAge
	</p>
}

@code {

	private Alien registeredAlien;

	private async Task RegisterMyAlien()
	{

		registeredAlien = await AlienDatabaseService.RegisterTheAlien();

	}
}
